@import url(https://fonts.googleapis.com/css?family=Oswald);

* {
    border: 1px solid red;
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

#title {
    background: yellow;
    /*add CSS here*/
    padding: 25px; 
    margin: 25px 220px;
    display: block;
    
}

#subtitle {
    background: black;
    color: white;
    /*add CSS here*/

    margin: 25px 220px;
    display: block;

}

.topic {
    background: lightgray;
    /*add CSS here*/
    display: inline-block;
    margin: 70px 220px;
}

